.hero {
  padding-top: calc(150px + var(--nav-height));
  height: calc(90vh);
  overflow: hidden;
  background-image: url('../../assets/images/hero.jpg');
  background-repeat: no-repeat;
}

.hero-img-container img {
  object-fit: contain;
  position: relative;
  bottom: 60px;
}
